@import "modules/_vars";
@import "modules/_clear";
@import "modules/_common";

@import "modules/_header";

#hypnotherapy {
    padding: 64px 0;
    background-color: $green;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hypnotherapy {
        &-tariffs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 48px 30px;
            justify-content: center;

            .tariff {
                --border-color: white;
                --title-color: white;

                &-button {
                    background-color: $blue;
    
                    &:hover {
                        background-color: transparent;
                        border-color: $blue;
                    }
                }
            }
        }

        &-button {
            margin-top: 36px;
            padding: 8px 0;
            max-width: 240px;
            color: white;
            background-color: $darkblue;

            &:hover {
                color: white;
                border-color: $darkblue;
                background-color: transparent;
            }
        }
    }
}

#hypno {
    padding: 64px 0;
    background-color: $blue;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hypno {
        &-tariffs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 48px 30px;
            justify-content: center;

            .tariff {
                --border-color: white;
                --title-color: white;
            }
    
        }

        &-button {
            margin-top: 36px;
            padding: 8px 0;
            max-width: 240px;
            color: white;
            background-color: $darkblue;

            &:hover {
                color: white;
                border-color: $darkblue;
                background-color: transparent;
            }
        }
    }
}

@import "modules/_tariff";

@import "modules/_footer";

@import "modules/_burger";

@import "modules/_modal";